/* daily task.css */
@media (max-width: 1440px){
    .navbar{
        font-size: 25px;
    }
    .accounts{
        margin-top: 360px;
        font-size: 25px;
    }
    .view,.fav{
      margin-top: 15px;
        width: 200px;
    }
    .up{
      font-size: 25px;
      margin-bottom: 30px;
    }
    table{
        margin-top: 70px;
        font-size: 20px;
    }
    #delete{
        font-size: 17px;
        margin-left: 30px;
        width: 110px;
    }
    select{
        font-size: 17px;
        width: 160px;
    }
}
