*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;;
}
body{
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
}
.part1{
    height: 92vh;
    width: 50vmin;
    border-radius: 0.5rem 2rem 2rem 0.5rem;
    background-color: #7e7e83;
    padding: 20px;
    color: white;
    display: flex;
    flex-flow: column nowrap;
}
.part2{
    height: 92vh;
    width: 99%;
    background-color: #F5F5F7;
    border-radius: 2rem 0.5rem 0.5rem 2rem;
    padding: 20px;
    color: #1D1D1F;
}
.home, .view, .fav{
    text-decoration: none;
    color: #F5F5F7;
    display: flex;
    flex-flow: row nowrap;
    height: 45px;
    transition: all 1s ease;
    width: 150px;
}
a{
    text-decoration: none;
    color: #F5F5F7;
}
.navbar, .accounts{
    padding-left: 25px;
    margin-top: 240px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.content{
    margin: 200px 0 0 300px;
}
.content1{
    font-size: 100px;
    transition: all 0.5s ease;
}
.content2{
    font-size: 20px;
    margin-left: 10px;
    transition: all 0.5s ease;
}
.home:hover, .view:hover, .fav:hover, .accounts:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px #F5F5F7;
    border-radius: 1rem;
}
.content1:hover, .content2:hover{
    transform: translateY(-10px);
}
.up{
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: inherit;
    min-width: 257px;
    box-shadow: 5px #F5F5F7;
    z-index: 1;
}
.up button, .up button h3{
    background:none; 
    border:none; 
    cursor:pointer;
    text-decoration: none;
    color: #F5F5F7;
    transition: all 0.5s ease;
    font-size: large;
}
.up a h3, .up a{
    background:none; 
    border:none; 
    cursor:pointer;
    text-decoration: none;
    color: #F5F5F7;
    transition: all 0.5s ease;
    margin-bottom: 0;
}
.accounts:hover .up{
    display: inline;
}
.up h3:hover{
    transform: translateY(-5px);
}


@media (max-width: 1440px){
    .navbar{
        font-size: 25px;
        margin-top: 240px;
    }
    .accounts{
        margin-top: 355px;
        font-size: 25px;
    }
    .view,.fav{
      margin-top: 10px;
      width: 200px;
    }
    .up{
      font-size: 25px;
      margin-bottom: 30px;
    }
    .content{
        margin: 250px 0 0 250px;
    }
    .content1{
        font-size: 110px;
    }
    .content2{
        margin-top: 10px;
        font-size: 30px;
    }
}

@media (max-width: 786px){
    .part1{
        height: 91vh;
        padding: 20px 0 20px 20px;
    }
    .navbar{
        margin-top: 150px;
        font-size: 15px;
        padding: 0;
    }
    .accounts{
        font-size: 15px;
        margin-top: 190px;
        padding: 0;
    }
    .view,.fav{
      margin-top: 0;
      width: 150px;
    }
    .up{
      font-size: 15px;
      margin-bottom: 20px;
    }
    .part2{
        height: 91vh;
    }
    .content{
        margin: 200px 0 0 100px;
    }
    .content1{
        font-size: 60px;
    }
    .content2{
        margin: 5px 0 0 0;
        font-size: 15px;
    }

}


@media (max-width: 576px){
    body{
        display: grid;
        grid-column:auto;
    }
    .part1{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        border-radius: 0 0 1rem 1rem;
        padding: 10px 5px 10px 10px;
    }
    .navbar{
        display: flex;
        flex-flow: row nowrap;
        margin: 10px 0 5px 0;
        font-size: 10px;
        padding: 0;
    }
    .accounts{
        margin: 0 5px 10px 20px;
        font-size: 15px;
        padding-left: 0;
    }
    .home{
        margin-left: 0;
        margin-bottom: 5px;
        width: 75px;
    }
    .view{
        margin: 0;
        width: 95px;
    }
    .fav{
        margin: 0;
        width: 110px;
    }
    .part2{
        height: 86.5vh;
        border-radius: 1rem 1rem 0 0;
        padding: 10px 15px 10px 10px;
    }
    .content{
        height: 60vh;
        margin: 150px 0 0 50px;
    }
    .content1{
        font-size: 50px;
    }
    .content2{
        margin-top: 10px;
        font-size: 25px;
        margin-left: 0;
    }
}

