*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
body{
  background-color: #F5F5F7;
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  height: 45vmin;
  width: 55vmin;
  margin: 150px 0 0 500px;
  padding: 25px 40px 20px 40px;
  border-radius: 1rem;
  background-color: #fff;
}
#i1,#i2{
  height: 25px;
  width: 350px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
}
#show{
  cursor: pointer;
}
#login{
  color: #fff;
  background-color: #1D1D1F;
  cursor: pointer;
  height: 5dvh;
  width: 15dvb;
  border-radius: 1rem;
  margin-top: 15px;
}
a{
  cursor: pointer;
  margin-top: 1rem;
  color: #0071E3;
}
.message{
  margin-top: 0.75rem;
  color: green;
}

@media (max-width: 1440px){
  .container{
    height: 40vmin;
    width: 55vmin;
    margin: 220px 0 0 430px;
    padding: 20px;
  }
  #i1,#i2{
    height: 35px;
    width: 450px;
  }
  a{
    font-size: 1.3rem;
  }
}


@media (max-width: 1024px){
  .container{
    height: 49dvh;
    width: 60vmin;
    margin: 100px 0 0 330px;
    padding: 20px;
  }
  #i1,#i2{
    height: 30px;
    width: 350px;
  }
  a{
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    height: 47dvh;
    width: 60vmin;
    margin: 150px 0 0 150px;
  }
  #i1, #i2 {
    height: 25px;
    width: 350px;
  }
  a{
    font-size: 1rem;
  }
}

@media (max-width: 476px) {
  .container{
    height: 50dvh;
    width: 60dvh;
    margin: 125px 0 0 0;
    padding: 20px;
  }
  #i1, #i2 {
    height: 25px;
    width: 350px;
  }
  a{
    font-size: 1rem;
  }
}

@media (max-width: 356px) {
  .container{
    height: 50dvh;
    width: 60dvh;
    margin: 250px 0 0 0;
    padding: 20px;
  }
  #login{
    height: 7dvh;
    width: 16dvb;
  }
  #i1, #i2 {
    height: 25px;
    width: 350px;
  }
  a{
    font-size: 1rem;
  }
}
