.verify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 500px;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vh;
    align-items: center;
}

.otp-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.otp-input {
    width: 40px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
}

.otp-input:focus {
    border-color: #4A90E2;
}
.actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}