*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;;
}
body{
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
}
.part1{
    height: 92vh;
    width: 50vmin;
    border-radius: 0.5rem 2rem 2rem 0.5rem;
    background-color: #7e7e83;
    padding: 20px;
    color: white;
    display: flex;
    flex-flow: column nowrap;
}
.part2{
    height: 92vh;
    width: 99%;
    background-color: #F5F5F7;
    border-radius: 2rem 0.5rem 0.5rem 2rem;
    padding: 20px;
    color: #1D1D1F;
}
.home, .view, .fav{
    display: flex;
    flex-flow: row nowrap;
    height: 45px;
    transition: all 1s ease;
    width: 150px;
}
a{
    text-decoration: none;
    color: #F5F5F7;
}
.navbar, .accounts{
    padding-left: 25px;
    margin-top: 240px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.home:hover, .view:hover, .fav:hover, .accounts:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px #F5F5F7;
    border-radius: 1rem;
}
.content{
    margin: 50px 0 0 100px;
}
.up{
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: inherit;
    min-width: 257px;
    box-shadow: 5px #F5F5F7;
    z-index: 1;
}
.up button, .up button h3{
    background:none; 
    border:none; 
    cursor:pointer;
    text-decoration: none;
    color: #F5F5F7;
    transition: all 0.5s ease;
    font-size: large;
}
.up a h3, .up a{
    background:none; 
    border:none; 
    cursor:pointer;
    text-decoration: none;
    color: #F5F5F7;
    transition: all 0.5s ease;
    margin-bottom: 0;
}
.accounts:hover .up{
    display: inline;
}
.up h3:hover{
    transform: translateY(-5px);
}
input{
    height: 30px;
    width: 600px;
    border-radius: 5px;
    text-decoration: none;
}
#f1{
    margin-bottom: 40px;
}
#add{
    height: 33px;
    width: 65px;
    margin: 0 0 0 10px;
    border-radius: 7px;
    border: none;
    background-color: #0071E3;
    color: #F5F5F7;
    opacity: 0.8;
}
#add:hover{
    opacity: 1;
}
#delete{
    border: none;
    border-radius: 10px;
    background-color: #fff;
    width: 100px;
    color: red;
    margin-left: 20px;
}
select{
    border: none;
    border-radius: 10px;
    width: 150px;
}
#daily_tasks{
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}
#p{
    display: none;
    position: absolute;
    bottom: 120%;
    left: 50%;
    padding: 5px;
    background-color: #F5F5F7;
    min-width: 100px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #5f5f5f;
    z-index: 100;
    transform: translateX(-50%);
    font-size: 12px;
}
#daily_tasks:hover #p{
    display: block;
}
.tasks{
    max-height: 350px;   /* height of around 7 tasks */
    overflow-y: auto;    /* enable vertical scroll ONLY inside this box */
    padding: 40px;
}
.tasks::-webkit-scrollbar {
    display: none;
}
.tasks::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

@media (max-width: 1440px){
    .navbar{
        font-size: 20px;
    }
    .accounts{
        margin-top: 300px;
        font-size: 25px;
    }
    .view,.fav{
      margin-top: 15px;
      width: 200px;
    }
    .up{
      font-size: 25px;
      margin-bottom: 30px;
    }
    input{
        height: 35px;
        width: 650px;
    }
    #add{
        height: 38px;
        width: 80px;
    }
    table{
        font-size: 20px;
    }
    #delete{
        font-size: 17px;
        margin-left: 30px;
        width: 110px;
    }
    select{
        font-size: 17px;
        width: 160px;
    }
}

@media (max-width: 786px){
    .part1{
        height: 91vh;
        padding: 20px 0 20px 20px;
        width: 25vh;
    }
    .navbar{
        margin-top: 190px;
        font-size: 15px;
        padding: 0;
    }
    .accounts{
        font-size: 15px;
        margin-top: 215px;
        padding: 0;
    }
    .view,.fav{
      margin-top: 0;
      width: 150px;
    }
    .up{
      margin-bottom: 5px;
    }
    .up h3{
        font-size: small;
    }
    #delete_account h3{
        margin-left: -2px;
        font-size: small;
    }
    .part2{
        height: 91vh;
    }
    .content{
        margin: 100px 0 0 25px;
        font-size: smaller;
    }
    .content1{
        font-size: 60px;
    }
    .content2{
        margin: 5px 0 0 0;
        font-size: 15px;
    }
    input{
        width: 400px;
        height: 30px;
    }
    #add{
        width: 75px;
        height: 30px;
    }
    table{
        margin-top: 25px;
        font-size: small;
    }
    #delete, #status{
        font-size: small;
    }
    .home:hover, .view:hover, .fav:hover, .accounts:hover{
        transform: translateY(0);
        box-shadow: 0 0 #F5F5F7;
        border-radius: 0;
    }
}

@media (max-width: 576px){
      body{
        display: grid;
        grid-column:auto;
    }
    .part1{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        border-radius: 0 0 1rem 1rem;
        padding: 10px 5px 10px 10px;
    }
    .navbar{
        display: flex;
        flex-flow: row nowrap;
        margin: 10px 0 5px 0;
        font-size: 10px;
        padding: 0;
    }
    .accounts{
        margin: 0 5px 10px 20px;
        font-size: 15px;
        padding-left: 0;
    }
    .home{
        margin: 0;
        margin-bottom: 5px;
        width: 75px;
    }
    .view{
        margin: 0;
        margin-bottom: 5px;
        width: 95px;
    }
    .fav{
        margin: 0;
        margin-bottom: 5px;
        width: 110px;
    }
    .part2{
        height: 86vh;
        border-radius: 1rem 1rem 0 0;
        padding: 10px 15px 10px 10px;
    }
    .content{
        margin: 50px 0 0 15px;
    }
    #f1{
        align-items: baseline;
    }
    input{
        margin-top: 5px;
        height: 17px;
        width: 200px;
    }
    #add{
        font-size: 10px;
        height: 22px;
        width: 50px;
    }
    table{
        margin-top: 35px;
        font-size: 12px;
    }
    #delete{
        font-size: 10px;
        margin-left: 15px;
        width: 70px;
    }
    select{
        font-size: 10px;
        width: 80px;
    }
    #dot,#dot1{
        margin-left: 20px;
    }
    .up{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #7e7e83;
        min-width: 257px;
        box-shadow: 0px 4px 6px grey;
        z-index: 10;
    }
    .up h3{
        color: #F5F5F7;
    }
    .accounts:hover .up{
        margin-top: 10px;
        display: block;
    }
    .up a h3, .up a{
        color: #1D1D1F;
        font-size: small;
    }
    .up button, .up button h3{
        margin-left: -2px;
        color: #1D1D1F;
        font-size: small;
    }
    .up h3:hover{
        transform: translateY(0);
    }
    .home:hover, .view:hover, .fav:hover, .accounts:hover{
        transform: translateY(0);
        box-shadow: 0 0 #F5F5F7;
        border-radius: 0;
    }
}